.status-circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-left: 10px;

  &--alive {
    background-color: $green;
  }

  &--dead {
    background-color: #ee5253;
  }

  &--unknown {
    background-color: lighten($light-gray, 15%);
  }
}
